form(action="")
    //- number可用鍵盤上下控制
    input(type="number", min="10", step="2", value="10") 
    input(type="range", min="0" value="100")
    input(type="date" value="" min="最晚的日期")
    //- color 支援度記得去Check
    input(type="color")
    input(type="email")
    input(type="url")
    input(type="tel")
    //- 讓 Browser知道這是個 SearchBox
    input(type="search")

    //- list 對應 datalist的 id
    input(type="text" list="input-list")
    //- 輸入 V 時會出現下列提示字
    datalist(id="input-list")
        option(value="Val1" label="Val 1")
        option(value="Val2" label="Val 2")
        option(value="Val3" label="Val 3")

    input(type="submit", value="submit")

//* Input Attribute
input(type="text" placeholder="Enter Your Name")
input(type="text" pattern="[a-zA-Z]" required)